<!DOCTYPE html>
<html lang="">
  <head>
    <title>To Do App</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/js/htmx-1.9.11.js"></script>
    {{ turbo() }}
  </head>
  <body hx-boost="true">
    <main>
      <header>
        <h1>Prototips</h1>
        <p>Tīmekļa lietojumprogramma izstrādāta ar Flask, htmx un Hotwire</p>
      </header>

      <hr />
      <form action="{{ url_for('add') }}" method="POST">
        <input type="text" name="task" />
        <button type="submit">Pievienot</button>
      </form>

      <table>
        <thead>
          <tr>
            <th>Status</th>
            <th>Uzdevums</th>
            <th>Darbības</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %} {% include 'todo.html' %} {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
